<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>¿Quienes somos?</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid aut commodi debitis delectus doloremque
        ea, error eum eveniet illum minus nulla, perferendis provident quisquam recusandae, sed similique unde
        voluptas.</p>
</ion-content>
